/home/jovyan/snow-sinking/data/
/home/jovyan/snow-sinking/snowmodel/inputs/
/home/jovyan/snow-dinking/snowmodel/outputs/
/home/jovyan/snow-sinking/SnowModel/Inputs/
/home/jovyan/snow-sinking/SnowModel/Outputs/
/home/jovyan/snow-sinking/Photo_files/
